# Default ignored files
/workspace.xml
.idea
*.idea
将删除 producer/src/main/resources/static/
将删除 producer/src/main/resources/templates/
将删除 rocketmq/target/generated-sources/
将删除 swagger/src/main/java/com/huawei/scheduled/dao/
将删除 swagger/src/main/resources/mapper/
将删除 ymm/target/generated-sources/
